body {
  margin:0;
  font-family: Georgia, serif;
  font-size: 11pt;
}
#navbar {
  overflow: hidden;
  background-color: #d3d3d3;
  top: 0;
  width: 100%;
  padding-bottom: 10px;
  z-index: 10;
}
#narbar h2 {
  margin: 30px;
  font-weight: bolder;
}
#navbar p {
  margin-bottom: 5px;
}
#container {
  padding: 16px;
}
.my-tooltip {
  /*background-color: #d3d3d3;*/
  color: #808080;
  font-size: 9pt;
  padding: .2em .6em .3em;
  border-radius: .25em;
  display: inline;
}
.tooltip-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s linear;
}
.tooltip-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .2s, opacity .2s linear;
}
img {
  margin-bottom: 20px;
}
.radio-box-container, .label-container {
  margin-bottom: 10px;
}
#paragraph-chosen, #question-recommendation {
  font-size: 9pt;
}
.dropdown, #question, #run {
  height: 41px;
}
#select-question, #write-question {
  margin-bottom: 10px;
  height: 41px;
}
.editOption {
  position: relative;
  width: 100%; /*886px;*/
  height: 41px;
}
.label {
  font-size: 9pt;
}
#description-button, #type-description-button {
  color: #337ab7;
}
#description-button:hover, #type-description-button:hover {
  cursor: pointer;
  text-decoration: underline;
}
#description, #type-description {
  margin-left: 40px;
}
